.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: #f1f5f9;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.section__dkFyp {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__dkFyp > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__dkFyp > * {
    grid-column: 4;
  }
}
.freeBox__vst7D {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 18px;
}
.freeBox__vst7D > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - var(--token-vMUQwr5Jto1d));
  width: calc(100% + var(--token-vMUQwr5Jto1d));
}
.freeBox__vst7D > :global(.__wab_flex-container) > *,
.freeBox__vst7D > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vst7D > :global(.__wab_flex-container) > picture > img,
.freeBox__vst7D
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-vMUQwr5Jto1d);
}
.svg___0HXtL {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 45px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___0HXtL {
    height: 35px;
  }
}
.h1 {
  position: relative;
  width: auto;
  max-width: 100%;
  text-align: right;
  font-size: 35px;
  color: #3f4079;
  align-self: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    margin-top: 0px;
    font-size: 20px;
  }
}
.section__wtTOr {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__wtTOr > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__wtTOr {
    padding-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__wtTOr > * {
    grid-column: 4;
  }
}
.freeBox__kQeHz {
  display: grid;
  grid-template-columns: repeat(9, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-gap: 10px;
  position: relative;
  justify-self: flex-start;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kQeHz {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-row-gap: 10px;
  }
}
.btnReservation {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: none;
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
.svg__oe24N {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #3f4079;
  height: 40px;
  flex-shrink: 0;
}
.text__gDcpR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 10px;
  text-align: center;
  min-width: 0;
}
.btnAnnouncement {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
.svg__klDLi {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #3f4079;
  height: 40px;
  flex-shrink: 0;
}
.text___3UtJs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 10px;
  text-align: center;
  color: #3f4079;
  min-width: 0;
}
.btnCalculation {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
.svg__erDi {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #3f4079;
  height: 40px;
  flex-shrink: 0;
}
.text__lXhUl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 10px;
  text-align: center;
  color: #3f4079;
  min-width: 0;
}
.btnOnlinepayment {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
.svg___575U {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #3f4079;
  height: 40px;
  flex-shrink: 0;
}
.text__zMPa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 10px;
  text-align: center;
  color: #3f4079;
  min-width: 0;
}
.btnApi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
.svg___1PipE {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #3f4079;
  height: 40px;
  flex-shrink: 0;
}
.text__iAgvm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 10px;
  text-align: center;
  color: #3f4079;
  min-width: 0;
}
.btnEhr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
.svg__j4W6K {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #3f4079;
  height: 40px;
  flex-shrink: 0;
}
.text__nU9TK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 10px;
  color: #3f4079;
  min-width: 0;
}
.btnSpecialsite {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
.svg__wtosz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #3f4079;
  height: 40px;
  flex-shrink: 0;
}
.text___9P8M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 10px;
  text-align: center;
  color: #3f4079;
  min-width: 0;
}
.btnDashboard {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
.svg__rNnIv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #3f4079;
  height: 40px;
  flex-shrink: 0;
}
.text__baG59 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 10px;
  text-align: center;
  color: #3f4079;
  min-width: 0;
}
.btnDashboard2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
.svg__y7Z5I {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #3f4079;
  height: 40px;
  flex-shrink: 0;
}
.text___1TqRo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 10px;
  text-align: center;
  color: #3f4079;
  min-width: 0;
}
.section__sTanX {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__sTanX > * {
  grid-column: 4;
}
.gridCalculator {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-gap: 10px;
  background: #ffffff;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  border-radius: 10px;
  padding: 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .gridCalculator {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.freeBox___6LVp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
}
.freeBox___2UrIs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h2__fmAKb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  color: #3f4079;
  min-width: 0;
}
.text__pAtCy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__xNvEz {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__rHtRv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.text___8Qi4Y {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
.freeBox__czMkd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
.txtResevationCount:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__mg8QL {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__hrUqY {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__wX9TB {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  max-width: 100%;
  min-width: 0;
}
.freeBox__an2Xd {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  padding: 0px 8px;
}
.freeBox__n0Ja {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  min-width: 0;
}
.reservationCheck:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__l7SdE {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
.freeBox__grh2Y {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
}
.txtReservationInternetResult {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .txtReservationInternetResult {
    padding-right: 70px;
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-left: 0px;
    text-align: right;
    min-width: 0;
  }
}
.freeBox__yfMB {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___81XZh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
}
.freeBox__brM2A {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.reservationPhoneCheck:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__gxjEp {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
.freeBox___4OZzs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
}
.txtReservationPhoneResult {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .txtReservationPhoneResult {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-right: 70px;
    text-align: right;
    padding-left: 0px;
    min-width: 0;
  }
}
.freeBox__cSq4C {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___83JL {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
}
.freeBox__wTwi4 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.kioskResevationCheck:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__xstgH {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
.freeBox__sqHf9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
}
.txtReservationKioskResult {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .txtReservationKioskResult {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-right: 70px;
    text-align: right;
    padding-left: 0px;
    min-width: 0;
  }
}
.freeBox__ypsB0 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__qMtKh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
}
.freeBox__niAi {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.announcementCheck:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__j84I {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
.freeBox__utNh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
}
.txtAnnouncementResult {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .txtAnnouncementResult {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-right: 70px;
    text-align: right;
    padding-left: 0px;
    min-width: 0;
  }
}
.freeBox__a44Iy {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__zJYbx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
}
.freeBox__aqPAj {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.calculationCheck:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__xiDui {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
.freeBox__eBe7H {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
}
.txtCalculationResult {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .txtCalculationResult {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-right: 70px;
    text-align: right;
    padding-left: 0px;
    min-width: 0;
  }
}
.freeBox__vstLs {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__cHbRg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
}
.freeBox__cGbx3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.onlinepaymentCheck:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__mFmSg {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
.freeBox__ctwHa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
}
.txtOnlinePaymentResult {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .txtOnlinePaymentResult {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-right: 70px;
    text-align: right;
    padding-left: 0px;
    min-width: 0;
  }
}
.freeBox__eDdxo {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__ubeCl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
}
.freeBox__nbN3X {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.apiCheck:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__mqwTe {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
.freeBox__lQiZc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
}
.txtapiResult {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .txtapiResult {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-right: 70px;
    text-align: right;
    padding-left: 0px;
    min-width: 0;
  }
}
.freeBox__th79A {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__oanOw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
}
.freeBox__s7Hu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.ehrCheck:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__zzTaF {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
.freeBox__hxRxo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
}
.txtReservationKioskResult6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .txtReservationKioskResult6 {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-right: 70px;
    text-align: right;
    padding-left: 0px;
    min-width: 0;
  }
}
.freeBox__ufKuf {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__dnhQr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
}
.freeBox__w6Zdw {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.specialSiteCheck:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__dXYjf {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
.freeBox__fKKm5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
}
.txtSpecialSiteResult {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .txtSpecialSiteResult {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-right: 70px;
    text-align: right;
    padding-left: 0px;
    min-width: 0;
  }
}
.freeBox__swDcY {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__ple {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  padding-right: 8px;
  padding-left: 8px;
  min-width: 0;
}
.freeBox__yw5To {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  padding: 0px;
}
.dashboardCheck:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__rgMxE {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
.freeBox__yfTLj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 0px 0px 0px 8px;
}
.txtDashboardResult {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .txtDashboardResult {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-right: 70px;
    text-align: right;
    padding-left: 0px;
    min-width: 0;
  }
}
.freeBox___7VpRn {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__yHFc8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
}
.freeBox__kpiXf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  padding: 0px 8px;
}
.text___7T6Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  padding-left: 0px;
  min-width: 0;
}
.freeBox__l1HBn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
}
.txtSumInvoice {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .txtSumInvoice {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-right: 70px;
    text-align: right;
    padding-left: 0px;
    min-width: 0;
  }
}
.sideEffectCalculator:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__hSaH {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__zo03M {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  border-radius: 10px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zo03M {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.freeBox___4HLow {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__nopqu {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___2Faw9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h2__xfcwc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  color: #3f4079;
  min-width: 0;
}
.freeBox__rYn2U {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__dwxs6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__u6XXr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h3__qy73F {
  width: auto;
  height: auto;
  max-width: 100%;
  color: #3f4079;
  font-size: 20px;
}
.svg___0DkSg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.ul__lwy9C {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  text-align: right;
  margin-right: 50px;
}
.li__rzv5X {
  display: list-item;
  position: relative;
}
.freeBox__b1YS {
  display: flex;
  position: relative;
}
.text__ave3F {
  position: relative;
}
.li___90Y7J {
  display: list-item;
  position: relative;
}
.freeBox__xgWxa {
  display: flex;
  position: relative;
}
.text__o1Am8 {
  position: relative;
}
.li__eQxaN {
  display: list-item;
  position: relative;
}
.freeBox___4TUzi {
  display: flex;
  position: relative;
}
.text__qgSvM {
  position: relative;
}
.li__x1Ka9 {
  display: list-item;
  position: relative;
}
.freeBox___9FQc {
  display: flex;
  position: relative;
}
.text__dTReh {
  position: relative;
}
.li__yvVu1 {
  display: list-item;
  position: relative;
}
.freeBox__tuSod {
  display: flex;
  position: relative;
}
.text__rAcWs {
  position: relative;
}
.li___92At {
  display: list-item;
  position: relative;
}
.freeBox__looxe {
  display: flex;
  position: relative;
}
.text__yjPyg {
  position: relative;
}
.li___6Cre4 {
  display: list-item;
  position: relative;
}
.freeBox__yjrZa {
  display: flex;
  position: relative;
}
.text__aCgF {
  position: relative;
}
.li__a3Ete {
  display: list-item;
  position: relative;
}
.freeBox__aNc0W {
  display: flex;
  position: relative;
}
.text__fVzBb {
  position: relative;
}
.li__s4H73 {
  display: list-item;
  position: relative;
}
.freeBox__hdO9 {
  display: flex;
  position: relative;
}
.text___2BPhw {
  position: relative;
}
.li__qgOfb {
  display: list-item;
  position: relative;
}
.freeBox__rilQq {
  display: flex;
  position: relative;
}
.text___6WCQ {
  position: relative;
}
.li__gZji6 {
  display: list-item;
  position: relative;
}
.freeBox__jbKg {
  display: flex;
  position: relative;
}
.text__uQf8E {
  position: relative;
}
.li___7Vb8 {
  display: list-item;
  position: relative;
}
.freeBox__r7Lc0 {
  display: flex;
  position: relative;
}
.text__dd30E {
  position: relative;
}
.freeBox__sbXna {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h3__r1Nyk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #3f4079;
  font-size: 20px;
  min-width: 0;
}
.ul__kK3ML {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  text-align: right;
  margin-right: 50px;
}
.li__wv2Yt {
  display: list-item;
  position: relative;
}
.freeBox__x9QU {
  display: flex;
  position: relative;
}
.text__zfhQb {
  position: relative;
}
.li__x1Eg {
  display: list-item;
  position: relative;
}
.freeBox__raRAw {
  display: flex;
  position: relative;
}
.text__ijBh {
  position: relative;
}
.li__dE5Gf {
  display: list-item;
  position: relative;
}
.freeBox__sTj34 {
  display: flex;
  position: relative;
}
.text__oki60 {
  position: relative;
}
.freeBox__woJgy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h3__jwL8L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #3f4079;
  font-size: 20px;
  min-width: 0;
}
.ul__bq50 {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  text-align: right;
  margin-right: 50px;
}
.li___2UgEs {
  display: list-item;
  position: relative;
}
.freeBox__caiB8 {
  display: flex;
  position: relative;
}
.text__zGVvb {
  position: relative;
  padding-right: 0px;
}
.li__ayUiG {
  display: list-item;
  position: relative;
}
.freeBox__v56Nn {
  display: flex;
  position: relative;
}
.text__uNmo {
  position: relative;
}
.li__thAor {
  display: list-item;
  position: relative;
}
.freeBox__oSqqn {
  display: flex;
  position: relative;
}
.text__tGpJq {
  position: relative;
}
.li__nz4Y9 {
  display: list-item;
  position: relative;
}
.freeBox__lm9NC {
  display: flex;
  position: relative;
}
.text__w6F0B {
  position: relative;
}
.li__xjRqb {
  display: list-item;
  position: relative;
}
.freeBox__abK3X {
  display: flex;
  position: relative;
}
.text__hbnvx {
  position: relative;
}
.freeBox__smLx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h3__pP6Ai {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #3f4079;
  font-size: 20px;
  min-width: 0;
}
.ul__yqwrK {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  text-align: right;
  margin-right: 50px;
}
.li__qHqKk {
  display: list-item;
  position: relative;
}
.freeBox__leQvg {
  display: flex;
  position: relative;
}
.text__mRk0M {
  position: relative;
  padding-right: 0px;
}
.li__ir8S {
  display: list-item;
  position: relative;
}
.freeBox__la0E {
  display: flex;
  position: relative;
}
.text__qgJgh {
  position: relative;
}
.li__wGfG1 {
  display: list-item;
  position: relative;
}
.freeBox__vjDvi {
  display: flex;
  position: relative;
}
.text__gz96J {
  position: relative;
}
.li__uMFlB {
  display: list-item;
  position: relative;
}
.freeBox__yPr6V {
  display: flex;
  position: relative;
}
.text__wQVw {
  position: relative;
}
.freeBox__tcdV {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h3__vrmnr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #3f4079;
  font-size: 20px;
  min-width: 0;
}
.ul__f1Zir {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  text-align: right;
  margin-right: 50px;
}
.li__hx9Ku {
  display: list-item;
  position: relative;
}
.freeBox__q4Pc {
  display: flex;
  position: relative;
}
.text__mK4Ca {
  position: relative;
  padding-right: 0px;
}
.li__i7Ixm {
  display: list-item;
  position: relative;
}
.freeBox___8SCwT {
  display: flex;
  position: relative;
}
.text__wBogG {
  position: relative;
}
.li__a4Df {
  display: list-item;
  position: relative;
}
.freeBox__yUh3W {
  display: flex;
  position: relative;
}
.text__wd2X {
  position: relative;
}
.li__jnVzP {
  display: list-item;
  position: relative;
}
.freeBox__zbzpb {
  display: flex;
  position: relative;
}
.text__k357B {
  position: relative;
}
.freeBox__xv6AY {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h3__ahVCv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #3f4079;
  font-size: 20px;
  min-width: 0;
}
.ul__eTyTm {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  text-align: right;
  margin-right: 50px;
}
.li___0Lxjq {
  display: list-item;
  position: relative;
}
.freeBox__ifcqI {
  display: flex;
  position: relative;
}
.text__qbugQ {
  position: relative;
  padding-right: 0px;
}
.li__zs9Du {
  display: list-item;
  position: relative;
}
.freeBox__fwxZ {
  display: flex;
  position: relative;
}
.text__oFlTa {
  position: relative;
}
.freeBox__rUis8 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  border-radius: 10px;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rUis8 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.freeBox__e7XEy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__eCo9H {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__hrYcx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h2__oOyE5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  color: #3f4079;
  min-width: 0;
}
.freeBox___0Vc9S {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__w6T {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h3__xa6Vr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #3f4079;
  font-size: 20px;
  min-width: 0;
}
.ul___1P6Qt {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  text-align: right;
  margin-right: 50px;
}
.li__ndVnf {
  display: list-item;
  position: relative;
}
.freeBox__mVj7F {
  display: flex;
  position: relative;
}
.text___3Xg25 {
  position: relative;
}
.li__xfYpu {
  display: list-item;
  position: relative;
}
.freeBox___6D4OL {
  display: flex;
  position: relative;
}
.text__nmbf {
  position: relative;
}
.li___6CQft {
  display: list-item;
  position: relative;
}
.freeBox___3Zf7A {
  display: flex;
  position: relative;
}
.text__kSl9S {
  position: relative;
}
.freeBox___3DBa7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text___76Kom {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #3f4079;
  font-size: 16px;
  min-width: 0;
}
.freeBox__hgQAz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__evds {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #3f4079;
  font-size: 16px;
  min-width: 0;
}
.freeBox__lFulh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__lmPrA {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #3f4079;
  font-size: 16px;
  position: relative;
  min-width: 0;
}
.freeBox__jIt7W {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__tgskc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #3f4079;
  font-size: 16px;
  min-width: 0;
}
.freeBox__jtKzx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__lqd7J {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #3f4079;
  font-size: 16px;
  min-width: 0;
}
.freeBox__mm7Wf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__x57YQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #3f4079;
  font-size: 16px;
  min-width: 0;
}
.freeBox__ouBfw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__tMoeV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #3f4079;
  font-size: 16px;
  min-width: 0;
}
.freeBox__pWlcs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__qVkYu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #3f4079;
  font-size: 16px;
  min-width: 0;
}
.freeBox__xby {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 8px;
}
