@import url("https://fonts.googleapis.com/css2?family=Vazirmatn%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-yzTPg1gY2LSB-seYsn_font-family: "Vazirmatn", sans-serif;
  --mixin-yzTPg1gY2LSB-seYsn_font-size: 16px;
  --mixin-yzTPg1gY2LSB-seYsn_font-weight: 400;
  --mixin-yzTPg1gY2LSB-seYsn_font-style: normal;
  --mixin-yzTPg1gY2LSB-seYsn_color: #535353;
  --mixin-yzTPg1gY2LSB-seYsn_text-align: right;
  --mixin-yzTPg1gY2LSB-seYsn_text-transform: none;
  --mixin-yzTPg1gY2LSB-seYsn_line-height: 1.5;
  --mixin-yzTPg1gY2LSB-seYsn_letter-spacing: normal;
  --mixin-yzTPg1gY2LSB-seYsn_white-space: pre-wrap;
  --mixin-yzTPg1gY2LSB-seYsn_user-select: text;
  --mixin-yzTPg1gY2LSB-seYsn_text-decoration-line: none;
  --mixin-yzTPg1gY2LSB-seYsn_text-overflow: clip;
  --mixin-gR5bcdvFGuUe-seYsn_color: #000000;
  --mixin-gR5bcdvFGuUe-seYsn_font-weight: 700;
  --mixin-gR5bcdvFGuUe-seYsn_font-size: 64px;
  --mixin-gR5bcdvFGuUe-seYsn_line-height: 1;
  --mixin-gR5bcdvFGuUe-seYsn_letter-spacing: -1px;
  --mixin-gR5bcdvFGuUe-seYsn_white-space: pre-wrap;
  --mixin-Ek6GbGMbL0yG-seYsn_color: #000000;
  --mixin-Ek6GbGMbL0yG-seYsn_font-size: 48px;
  --mixin-Ek6GbGMbL0yG-seYsn_font-weight: 700;
  --mixin-Ek6GbGMbL0yG-seYsn_letter-spacing: -0.5px;
  --mixin-Ek6GbGMbL0yG-seYsn_line-height: 1.1;
  --mixin-Ek6GbGMbL0yG-seYsn_white-space: pre-wrap;
  --mixin-xIVcQKI0wdm5-seYsn_color: #0070f3;
  --mixin-xIVcQKI0wdm5-seYsn_white-space: pre-wrap;
  --mixin-rwv9k0Llpgk6-seYsn_color: #000000;
  --mixin-rwv9k0Llpgk6-seYsn_font-size: 32px;
  --mixin-rwv9k0Llpgk6-seYsn_font-weight: 600;
  --mixin-rwv9k0Llpgk6-seYsn_line-height: 1.2;
  --mixin-rwv9k0Llpgk6-seYsn_white-space: pre-wrap;
  --mixin--UKueUXlGXVF-seYsn_color: #000000;
  --mixin--UKueUXlGXVF-seYsn_font-size: 24px;
  --mixin--UKueUXlGXVF-seYsn_font-weight: 600;
  --mixin--UKueUXlGXVF-seYsn_line-height: 1.3;
  --mixin--UKueUXlGXVF-seYsn_white-space: pre-wrap;
  --mixin-8I7aG8JahpVo-seYsn_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-8I7aG8JahpVo-seYsn_border-bottom-color: #dddddd;
  --mixin-8I7aG8JahpVo-seYsn_border-bottom-style: solid;
  --mixin-8I7aG8JahpVo-seYsn_border-bottom-width: 1px;
  --mixin-8I7aG8JahpVo-seYsn_border-left-color: #dddddd;
  --mixin-8I7aG8JahpVo-seYsn_border-left-style: solid;
  --mixin-8I7aG8JahpVo-seYsn_border-left-width: 1px;
  --mixin-8I7aG8JahpVo-seYsn_border-right-color: #dddddd;
  --mixin-8I7aG8JahpVo-seYsn_border-right-style: solid;
  --mixin-8I7aG8JahpVo-seYsn_border-right-width: 1px;
  --mixin-8I7aG8JahpVo-seYsn_border-top-color: #dddddd;
  --mixin-8I7aG8JahpVo-seYsn_border-top-style: solid;
  --mixin-8I7aG8JahpVo-seYsn_border-top-width: 1px;
  --mixin-8I7aG8JahpVo-seYsn_border-bottom-left-radius: 3px;
  --mixin-8I7aG8JahpVo-seYsn_border-bottom-right-radius: 3px;
  --mixin-8I7aG8JahpVo-seYsn_border-top-left-radius: 3px;
  --mixin-8I7aG8JahpVo-seYsn_border-top-right-radius: 3px;
  --mixin-8I7aG8JahpVo-seYsn_font-family: "Inconsolata";
  --mixin-8I7aG8JahpVo-seYsn_padding-bottom: 1px;
  --mixin-8I7aG8JahpVo-seYsn_padding-left: 4px;
  --mixin-8I7aG8JahpVo-seYsn_padding-right: 4px;
  --mixin-8I7aG8JahpVo-seYsn_padding-top: 1px;
  --mixin-8I7aG8JahpVo-seYsn_white-space: pre-wrap;
  --mixin-9ManYph3rHzp-seYsn_border-left-color: #dddddd;
  --mixin-9ManYph3rHzp-seYsn_border-left-style: solid;
  --mixin-9ManYph3rHzp-seYsn_border-left-width: 3px;
  --mixin-9ManYph3rHzp-seYsn_color: #888888;
  --mixin-9ManYph3rHzp-seYsn_padding-left: 10px;
  --mixin-9ManYph3rHzp-seYsn_white-space: pre-wrap;
  --mixin-0FNxzFCSbU_g-seYsn_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-0FNxzFCSbU_g-seYsn_border-bottom-color: #dddddd;
  --mixin-0FNxzFCSbU_g-seYsn_border-bottom-style: solid;
  --mixin-0FNxzFCSbU_g-seYsn_border-bottom-width: 1px;
  --mixin-0FNxzFCSbU_g-seYsn_border-left-color: #dddddd;
  --mixin-0FNxzFCSbU_g-seYsn_border-left-style: solid;
  --mixin-0FNxzFCSbU_g-seYsn_border-left-width: 1px;
  --mixin-0FNxzFCSbU_g-seYsn_border-right-color: #dddddd;
  --mixin-0FNxzFCSbU_g-seYsn_border-right-style: solid;
  --mixin-0FNxzFCSbU_g-seYsn_border-right-width: 1px;
  --mixin-0FNxzFCSbU_g-seYsn_border-top-color: #dddddd;
  --mixin-0FNxzFCSbU_g-seYsn_border-top-style: solid;
  --mixin-0FNxzFCSbU_g-seYsn_border-top-width: 1px;
  --mixin-0FNxzFCSbU_g-seYsn_border-bottom-left-radius: 3px;
  --mixin-0FNxzFCSbU_g-seYsn_border-bottom-right-radius: 3px;
  --mixin-0FNxzFCSbU_g-seYsn_border-top-left-radius: 3px;
  --mixin-0FNxzFCSbU_g-seYsn_border-top-right-radius: 3px;
  --mixin-0FNxzFCSbU_g-seYsn_font-family: "Inconsolata";
  --mixin-0FNxzFCSbU_g-seYsn_padding-bottom: 3px;
  --mixin-0FNxzFCSbU_g-seYsn_padding-left: 6px;
  --mixin-0FNxzFCSbU_g-seYsn_padding-right: 6px;
  --mixin-0FNxzFCSbU_g-seYsn_padding-top: 3px;
  --mixin-0FNxzFCSbU_g-seYsn_white-space: pre-wrap;
  --mixin-wW9OF_cu3s99-seYsn_display: flex;
  --mixin-wW9OF_cu3s99-seYsn_flex-direction: column;
  --mixin-wW9OF_cu3s99-seYsn_align-items: stretch;
  --mixin-wW9OF_cu3s99-seYsn_justify-content: flex-start;
  --mixin-wW9OF_cu3s99-seYsn_list-style-position: outside;
  --mixin-wW9OF_cu3s99-seYsn_padding-left: 40px;
  --mixin-wW9OF_cu3s99-seYsn_position: relative;
  --mixin-wW9OF_cu3s99-seYsn_list-style-type: disc;
  --mixin-wW9OF_cu3s99-seYsn_white-space: pre-wrap;
  --mixin-atpJW26Xrdit-seYsn_display: flex;
  --mixin-atpJW26Xrdit-seYsn_flex-direction: column;
  --mixin-atpJW26Xrdit-seYsn_align-items: stretch;
  --mixin-atpJW26Xrdit-seYsn_justify-content: flex-start;
  --mixin-atpJW26Xrdit-seYsn_list-style-position: outside;
  --mixin-atpJW26Xrdit-seYsn_padding-left: 40px;
  --mixin-atpJW26Xrdit-seYsn_position: relative;
  --mixin-atpJW26Xrdit-seYsn_list-style-type: decimal;
  --mixin-atpJW26Xrdit-seYsn_white-space: pre-wrap;
  --mixin-ZCEFUhR_CJX9-seYsn_color: #000000;
  --mixin-ZCEFUhR_CJX9-seYsn_font-size: 20px;
  --mixin-ZCEFUhR_CJX9-seYsn_font-weight: 600;
  --mixin-ZCEFUhR_CJX9-seYsn_line-height: 1.5;
  --mixin-ZCEFUhR_CJX9-seYsn_white-space: pre-wrap;
  --mixin-vBY0lJlAyC9d-seYsn_color: #000000;
  --mixin-vBY0lJlAyC9d-seYsn_font-size: 16px;
  --mixin-vBY0lJlAyC9d-seYsn_font-weight: 600;
  --mixin-vBY0lJlAyC9d-seYsn_line-height: 1.5;
  --mixin-vBY0lJlAyC9d-seYsn_white-space: pre-wrap;
  --mixin-nz455Vm1n9e1-seYsn_color: #3291ff;
  --mixin-nz455Vm1n9e1-seYsn_white-space: pre-wrap;
  --mixin-Scgc0DE8Hvor-seYsn_white-space: pre-wrap;
  --mixin-h2_RPUFJd5TR-seYsn_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-5g5ivQG1YmJM_white-space: pre-wrap;
  --plasmic-mixin-w-60-pec_white-space: var(--mixin-5g5ivQG1YmJM_white-space);
  --mixin-E1nUqaf64oNc_white-space: pre-wrap;
  --plasmic-mixin-unnamed-style-preset_white-space: var(
    --mixin-E1nUqaf64oNc_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-yzTPg1gY2LSB-seYsn_font-family);
  font-size: var(--mixin-yzTPg1gY2LSB-seYsn_font-size);
  font-weight: var(--mixin-yzTPg1gY2LSB-seYsn_font-weight);
  font-style: var(--mixin-yzTPg1gY2LSB-seYsn_font-style);
  color: var(--mixin-yzTPg1gY2LSB-seYsn_color);
  text-align: var(--mixin-yzTPg1gY2LSB-seYsn_text-align);
  text-transform: var(--mixin-yzTPg1gY2LSB-seYsn_text-transform);
  line-height: var(--mixin-yzTPg1gY2LSB-seYsn_line-height);
  letter-spacing: var(--mixin-yzTPg1gY2LSB-seYsn_letter-spacing);
  white-space: var(--mixin-yzTPg1gY2LSB-seYsn_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-gR5bcdvFGuUe-seYsn_color);
  font-weight: var(--mixin-gR5bcdvFGuUe-seYsn_font-weight);
  font-size: var(--mixin-gR5bcdvFGuUe-seYsn_font-size);
  line-height: var(--mixin-gR5bcdvFGuUe-seYsn_line-height);
  letter-spacing: var(--mixin-gR5bcdvFGuUe-seYsn_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-Ek6GbGMbL0yG-seYsn_color);
  font-size: var(--mixin-Ek6GbGMbL0yG-seYsn_font-size);
  font-weight: var(--mixin-Ek6GbGMbL0yG-seYsn_font-weight);
  letter-spacing: var(--mixin-Ek6GbGMbL0yG-seYsn_letter-spacing);
  line-height: var(--mixin-Ek6GbGMbL0yG-seYsn_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-xIVcQKI0wdm5-seYsn_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-rwv9k0Llpgk6-seYsn_color);
  font-size: var(--mixin-rwv9k0Llpgk6-seYsn_font-size);
  font-weight: var(--mixin-rwv9k0Llpgk6-seYsn_font-weight);
  line-height: var(--mixin-rwv9k0Llpgk6-seYsn_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin--UKueUXlGXVF-seYsn_color);
  font-size: var(--mixin--UKueUXlGXVF-seYsn_font-size);
  font-weight: var(--mixin--UKueUXlGXVF-seYsn_font-weight);
  line-height: var(--mixin--UKueUXlGXVF-seYsn_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-8I7aG8JahpVo-seYsn_font-family);
  border-radius: var(--mixin-8I7aG8JahpVo-seYsn_border-top-left-radius)
    var(--mixin-8I7aG8JahpVo-seYsn_border-top-right-radius)
    var(--mixin-8I7aG8JahpVo-seYsn_border-bottom-right-radius)
    var(--mixin-8I7aG8JahpVo-seYsn_border-bottom-left-radius);
  padding: var(--mixin-8I7aG8JahpVo-seYsn_padding-top)
    var(--mixin-8I7aG8JahpVo-seYsn_padding-right)
    var(--mixin-8I7aG8JahpVo-seYsn_padding-bottom)
    var(--mixin-8I7aG8JahpVo-seYsn_padding-left);
  border-top: var(--mixin-8I7aG8JahpVo-seYsn_border-top-width)
    var(--mixin-8I7aG8JahpVo-seYsn_border-top-style)
    var(--mixin-8I7aG8JahpVo-seYsn_border-top-color);
  border-right: var(--mixin-8I7aG8JahpVo-seYsn_border-right-width)
    var(--mixin-8I7aG8JahpVo-seYsn_border-right-style)
    var(--mixin-8I7aG8JahpVo-seYsn_border-right-color);
  border-bottom: var(--mixin-8I7aG8JahpVo-seYsn_border-bottom-width)
    var(--mixin-8I7aG8JahpVo-seYsn_border-bottom-style)
    var(--mixin-8I7aG8JahpVo-seYsn_border-bottom-color);
  border-left: var(--mixin-8I7aG8JahpVo-seYsn_border-left-width)
    var(--mixin-8I7aG8JahpVo-seYsn_border-left-style)
    var(--mixin-8I7aG8JahpVo-seYsn_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-9ManYph3rHzp-seYsn_color);
  padding-left: var(--mixin-9ManYph3rHzp-seYsn_padding-left);
  border-left: var(--mixin-9ManYph3rHzp-seYsn_border-left-width)
    var(--mixin-9ManYph3rHzp-seYsn_border-left-style)
    var(--mixin-9ManYph3rHzp-seYsn_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-0FNxzFCSbU_g-seYsn_font-family);
  border-radius: var(--mixin-0FNxzFCSbU_g-seYsn_border-top-left-radius)
    var(--mixin-0FNxzFCSbU_g-seYsn_border-top-right-radius)
    var(--mixin-0FNxzFCSbU_g-seYsn_border-bottom-right-radius)
    var(--mixin-0FNxzFCSbU_g-seYsn_border-bottom-left-radius);
  padding: var(--mixin-0FNxzFCSbU_g-seYsn_padding-top)
    var(--mixin-0FNxzFCSbU_g-seYsn_padding-right)
    var(--mixin-0FNxzFCSbU_g-seYsn_padding-bottom)
    var(--mixin-0FNxzFCSbU_g-seYsn_padding-left);
  border-top: var(--mixin-0FNxzFCSbU_g-seYsn_border-top-width)
    var(--mixin-0FNxzFCSbU_g-seYsn_border-top-style)
    var(--mixin-0FNxzFCSbU_g-seYsn_border-top-color);
  border-right: var(--mixin-0FNxzFCSbU_g-seYsn_border-right-width)
    var(--mixin-0FNxzFCSbU_g-seYsn_border-right-style)
    var(--mixin-0FNxzFCSbU_g-seYsn_border-right-color);
  border-bottom: var(--mixin-0FNxzFCSbU_g-seYsn_border-bottom-width)
    var(--mixin-0FNxzFCSbU_g-seYsn_border-bottom-style)
    var(--mixin-0FNxzFCSbU_g-seYsn_border-bottom-color);
  border-left: var(--mixin-0FNxzFCSbU_g-seYsn_border-left-width)
    var(--mixin-0FNxzFCSbU_g-seYsn_border-left-style)
    var(--mixin-0FNxzFCSbU_g-seYsn_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-wW9OF_cu3s99-seYsn_display);
  flex-direction: var(--mixin-wW9OF_cu3s99-seYsn_flex-direction);
  align-items: var(--mixin-wW9OF_cu3s99-seYsn_align-items);
  justify-content: var(--mixin-wW9OF_cu3s99-seYsn_justify-content);
  list-style-position: var(--mixin-wW9OF_cu3s99-seYsn_list-style-position);
  padding-left: var(--mixin-wW9OF_cu3s99-seYsn_padding-left);
  position: var(--mixin-wW9OF_cu3s99-seYsn_position);
  list-style-type: var(--mixin-wW9OF_cu3s99-seYsn_list-style-type);
  flex-column-gap: var(--mixin-wW9OF_cu3s99-seYsn_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-atpJW26Xrdit-seYsn_display);
  flex-direction: var(--mixin-atpJW26Xrdit-seYsn_flex-direction);
  align-items: var(--mixin-atpJW26Xrdit-seYsn_align-items);
  justify-content: var(--mixin-atpJW26Xrdit-seYsn_justify-content);
  list-style-position: var(--mixin-atpJW26Xrdit-seYsn_list-style-position);
  padding-left: var(--mixin-atpJW26Xrdit-seYsn_padding-left);
  position: var(--mixin-atpJW26Xrdit-seYsn_position);
  list-style-type: var(--mixin-atpJW26Xrdit-seYsn_list-style-type);
  flex-column-gap: var(--mixin-atpJW26Xrdit-seYsn_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-ZCEFUhR_CJX9-seYsn_color);
  font-size: var(--mixin-ZCEFUhR_CJX9-seYsn_font-size);
  font-weight: var(--mixin-ZCEFUhR_CJX9-seYsn_font-weight);
  line-height: var(--mixin-ZCEFUhR_CJX9-seYsn_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-vBY0lJlAyC9d-seYsn_color);
  font-size: var(--mixin-vBY0lJlAyC9d-seYsn_font-size);
  font-weight: var(--mixin-vBY0lJlAyC9d-seYsn_font-weight);
  line-height: var(--mixin-vBY0lJlAyC9d-seYsn_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-nz455Vm1n9e1-seYsn_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
